{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Square Cloud API",
    "version": "13.76.1",
    "description": "Public REST API for the Square Cloud platform.",
    "contact": {
      "email": "support@squarecloud.app"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.squarecloud.app",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "The authenticated user's account: profile, plan, owned resources and personal snapshots."
    },
    {
      "name": "Lifecycle",
      "description": "Application lifecycle and runtime: create, delete, info, status, logs, metrics, actions, realtime."
    },
    {
      "name": "File Manager",
      "description": "Read, upload, rename and delete files in a running application's filesystem."
    },
    {
      "name": "Environment Variables",
      "description": "Manage the application's environment variables (read, merge, replace, remove)."
    },
    {
      "name": "Network",
      "description": "Custom domains, edge cache, DNS configuration and traffic analytics."
    },
    {
      "name": "Deployments",
      "description": "Manual and Git-based deploy pipelines, GitHub App installation, commit uploads, deploy history."
    },
    {
      "name": "Snapshots",
      "description": "Create, restore, list and download application snapshots."
    },
    {
      "name": "DB Lifecycle",
      "description": "Database lifecycle and runtime: create, delete, info, status, metrics, start/stop, update."
    },
    {
      "name": "Credentials",
      "description": "Rotate database access password and read the TLS certificate."
    },
    {
      "name": "Database Snapshots",
      "description": "Create, restore and list database snapshots."
    },
    {
      "name": "Workspaces",
      "description": "Multi-user collaboration: workspaces, members, app sharing and role-based permissions."
    },
    {
      "name": "Service",
      "description": "Platform-wide read-only endpoints (status, schema)."
    },
    {
      "name": "Webhooks",
      "description": "Public webhook receivers (Git providers). Authenticated by route-specific signatures."
    },
    {
      "name": "AI",
      "description": "OpenAI-compatible chat completions served by Square Cloud's hosted model. Authenticate with your account API key; point any OpenAI SDK's baseURL at /v2/ai."
    }
  ],
  "x-tagGroups": [
    {
      "name": "Profile",
      "tags": [
        "Account"
      ]
    },
    {
      "name": "Applications",
      "tags": [
        "Lifecycle",
        "File Manager",
        "Environment Variables",
        "Network",
        "Deployments",
        "Snapshots"
      ]
    },
    {
      "name": "Databases",
      "tags": [
        "DB Lifecycle",
        "Credentials",
        "Database Snapshots"
      ]
    },
    {
      "name": "Collaboration",
      "tags": [
        "Workspaces"
      ]
    },
    {
      "name": "Platform",
      "tags": [
        "Service",
        "Webhooks",
        "AI"
      ]
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "schemas": {
      "ErrorCode": {
        "type": "string",
        "enum": [
          "ACCESS_DENIED",
          "ACTION_FAILED",
          "AI_DAILY_LIMIT_REACHED",
          "AI_MAX_CONCURRENT_STREAMS",
          "AI_NO_PLAN_LIMIT_REACHED",
          "AI_UNAVAILABLE",
          "ANALYTICS_BUSY",
          "APPLICATIONS_LIMIT_REACHED",
          "APP_ALREADY_IN_WORKSPACE",
          "APP_NOT_FOUND",
          "BLOCKED_PATH",
          "BRANCH_NOT_FOUND",
          "CANNOT_EDIT_OWNER",
          "CANNOT_INVITE_OWNER",
          "CANNOT_LEAVE_OWNER",
          "CANNOT_SET_SUBDOMAIN",
          "CLUSTER_MAINTENANCE_TRY_LATER",
          "CLUSTER_SELECTION_FAILED",
          "CLUSTER_TIMEOUT",
          "CLUSTER_UNAVAILABLE",
          "COMMIT_FAILED",
          "CONFLICTING_RESOURCES",
          "CONTAINER_ALREADY_STARTED",
          "CONTAINER_ALREADY_STOPPED",
          "CONTAINER_INSUFFICIENT_DISK_SPACE",
          "CONTAINER_NETWORK_CONFLICT",
          "CONTAINER_NOT_FOUND",
          "CONTAINER_TEMPORARILY_SUSPENDED",
          "DAILY_SNAPSHOTS_LIMIT_REACHED",
          "DATABASE_CREATION_FAILED",
          "DATABASE_NOT_FOUND",
          "DATABASE_NOT_RUNNING",
          "DATABASE_UNAVAILABLE",
          "DELETE_FAILED",
          "DEPLOY_FAILED",
          "DNS_FAILED",
          "DOMAIN_ALREADY_EXISTS",
          "EMPTY_RESPONSE",
          "ENV_CONTENT_TOO_LONG",
          "ENV_NAME_TOO_LONG",
          "FAILED_TO_FETCH",
          "FILE_NOT_FOUND",
          "FILE_TOO_LARGE",
          "GIT_ALREADY_CONFIGURED",
          "GIT_NOT_CONFIGURED",
          "GITHUB_NOT_CONNECTED",
          "INSUFFICIENT_MEMORY",
          "INTERNAL_SERVER_ERROR",
          "INVALID_ACCESS_TOKEN",
          "INVALID_AUTORESTART",
          "INVALID_BRANCH_LENGTH",
          "INVALID_CODE",
          "INVALID_CONTENT",
          "INVALID_CONTENT_TYPE",
          "INVALID_DATABASE_TYPE",
          "INVALID_DATABASE_VERSION",
          "INVALID_DESCRIPTION",
          "INVALID_DISPLAY_NAME",
          "INVALID_DOMAIN",
          "INVALID_ENCODING",
          "INVALID_ENV_CONTENT",
          "INVALID_FILE",
          "INVALID_FILENAME",
          "INVALID_FILTER",
          "INVALID_GROUP",
          "INVALID_ID",
          "INVALID_INPUT",
          "INVALID_JSON_BODY",
          "INVALID_MEMORY",
          "INVALID_NAME",
          "INVALID_PARAMETERS",
          "INVALID_PATH",
          "INVALID_RESET_TYPE",
          "INVALID_SCOPE",
          "INVALID_SNAPSHOT_ID",
          "INVALID_SUBDOMAIN",
          "INVALID_TIME_RANGE",
          "INVALID_VERSION_ID",
          "KEEP_CALM",
          "LOAD_BALANCER_LIMIT_REACHED",
          "LOGS_UNAVAILABLE",
          "MEMBERS_LIMIT_REACHED",
          "MEMBER_ALREADY_ADDED",
          "MEMBER_NOT_FOUND",
          "METRICS_NOT_SUPPORTED",
          "MISSING_PARAMETERS",
          "MISSING_REQUIRED_FIELDS",
          "MISSING_SCOPE",
          "NO_CUSTOM_DOMAIN",
          "NO_UPDATE_DATA",
          "PAYLOAD_TOO_LARGE",
          "PERMISSION_DENIED",
          "PURGE_CACHE_FAILED",
          "RATE_LIMITED",
          "READ_FAILED",
          "REALTIME_MAX_CONNECTIONS",
          "REALTIME_MAX_CONNECTIONS_APP",
          "RENAME_FAILED",
          "REPOSITORY_BRANCH_ALREADY_CONFIGURED",
          "REPOSITORY_NOT_AVAILABLE",
          "REPOSITORY_NOT_FOUND",
          "REPOSITORY_PERMISSION_REQUIRED",
          "REQUEST_ABORTED",
          "RESERVED_DOMAIN",
          "RESET_FAILED",
          "RESOURCE_NOT_ALLOWED",
          "RESTORE_IN_PROGRESS",
          "ROUTE_NOT_FOUND",
          "SAVE_FAILED",
          "SCOPE_NOT_GRANTABLE",
          "SNAPSHOT_DATABASE_MISMATCH",
          "SNAPSHOT_FAILED",
          "SNAPSHOT_NOT_FOUND",
          "SNAPSHOT_PROCESSING",
          "SNAPSHOT_RESTORE_FAILED",
          "STATIC_APP_ENV_NOT_SUPPORTED",
          "STORAGE_UPLOAD_FAILED",
          "SUBDOMAIN_TAKEN",
          "TOO_MANY_ENV_VARS",
          "UNABLE_TO_FETCH_ANALYTICS",
          "UNABLE_TO_FETCH_ERRORS",
          "UNABLE_TO_FETCH_PERFORMANCE",
          "UPGRADE_REQUIRED",
          "UPLOAD_ABORTED",
          "UPLOAD_BUSY",
          "UPLOAD_FAILED",
          "VALIDATION_FAILED",
          "VALIDATION_TIMEOUT",
          "WORKSPACE_CREATION_FAILED",
          "WORKSPACE_LIMIT_REACHED",
          "WORKSPACE_NOT_FOUND"
        ],
        "description": "Machine-readable error code. The list grows over time: treat a code you do not know as a generic failure of the HTTP status it came with."
      },
      "ErrorBody": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "const": "error"
          },
          "code": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ErrorCode"
              },
              {
                "type": "string",
                "pattern": "^[A-Z][A-Z0-9_]+$"
              }
            ]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SnapshotProcessing": {
        "type": "object",
        "required": [
          "status",
          "code"
        ],
        "properties": {
          "status": {
            "type": "string",
            "const": "error"
          },
          "code": {
            "type": "string",
            "const": "SNAPSHOT_PROCESSING"
          }
        }
      },
      "OpenAIError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "param": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "code": {
                "anyOf": [
                  {
                    "type": "string",
                    "enum": [
                      "concurrent_limit_reached",
                      "context_length_exceeded",
                      "daily_capacity_reached",
                      "daily_limit_reached",
                      "daily_request_limit_reached",
                      "daily_spend_limit_reached",
                      "invalid_max_tokens",
                      "invalid_messages",
                      "invalid_request",
                      "invalid_temperature",
                      "invalid_tools",
                      "multimodal_not_supported",
                      "rate_limit_exceeded",
                      "server_overloaded",
                      "stream_not_supported",
                      "upgrade_required"
                    ]
                  },
                  {
                    "type": "string"
                  }
                ],
                "description": "Machine-readable code. New codes may be added: handle an unknown one by its HTTP status."
              }
            }
          }
        }
      },
      "RuntimeStats": {
        "type": "object",
        "required": [
          "cpu",
          "ram",
          "status",
          "running",
          "storage",
          "network",
          "uptime"
        ],
        "properties": {
          "cpu": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "CPU usage. Formatted (`\"0.5%\"`) by default, or a number with `?rawData=true`."
          },
          "ram": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "RAM in use (the allocated memory is not included). Formatted in MB (`\"120.4MB\"`) by default, or a number of MB with `?rawData=true`."
          },
          "status": {
            "type": "string",
            "description": "Resource lifecycle state (e.g. `running`, `exited`)."
          },
          "running": {
            "type": "boolean",
            "description": "Convenience flag equivalent to `status === \"running\"`."
          },
          "storage": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "description": "Storage usage. Formatted by default, or raw bytes with `?rawData=true`."
          },
          "network": {
            "type": "object",
            "required": [
              "total",
              "now"
            ],
            "description": "Network counters. Strings by default (`\"<incoming> ↑ <outgoing> ↓\"`); two-element `[in, out]` integer arrays with `?rawData=true`.",
            "properties": {
              "total": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "minItems": 2,
                    "maxItems": 2
                  }
                ]
              },
              "now": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "minItems": 2,
                    "maxItems": 2
                  }
                ]
              }
            }
          },
          "uptime": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Unix timestamp (ms) at which the resource last started. `null` when not running."
          }
        }
      },
      "RuntimeStatsListItem": {
        "type": "object",
        "required": [
          "id",
          "running"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Application or database identifier."
          },
          "running": {
            "type": "boolean"
          },
          "cpu": {
            "type": "string",
            "description": "CPU usage as `\"0.00%\"`. Present only when `running` is `true`."
          },
          "ram": {
            "type": "string",
            "description": "RAM usage as `\"0.00MB\"`. Present only when `running` is `true`."
          }
        }
      },
      "Snapshot": {
        "type": "object",
        "required": [
          "name",
          "size",
          "modified",
          "key",
          "version_id",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Snapshot identifier (zip name without extension)."
          },
          "size": {
            "type": "integer",
            "description": "Snapshot size in bytes."
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "key": {
            "type": "string",
            "description": "Signed query string used to compose the snapshot download URL."
          },
          "version_id": {
            "type": "string",
            "description": "Storage version of this snapshot. Pass it as `versionId` to the restore routes."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Signed download URL, valid for 30 days."
          },
          "runtime": {
            "type": [
              "string",
              "null"
            ],
            "description": "What the archive holds: the database engine (`mongo`, `mysql`, `postgres`, `redis`) or the app language (`javascript`, `typescript`, `python`, ...). `null` on snapshots taken before this field existed."
          },
          "origin": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "automatic",
              "manual",
              null
            ],
            "description": "`automatic` for the daily scheduled snapshot, `manual` when a user (or the AI agent) requested it. `null` on snapshots taken before this field existed."
          }
        }
      },
      "EnvVars": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        },
        "description": "Environment variables as an arbitrary `{ key: value }` map of strings."
      },
      "App": {
        "type": "object",
        "required": [
          "id",
          "name",
          "owner",
          "cluster",
          "ram",
          "language",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "32-char hex application identifier."
          },
          "name": {
            "type": "string",
            "description": "Display name."
          },
          "desc": {
            "type": "string",
            "description": "Optional free-form description. Key is omitted when not set."
          },
          "owner": {
            "type": "string",
            "description": "User identifier of the application owner."
          },
          "cluster": {
            "type": "string",
            "description": "Cluster identifier the application is hosted on."
          },
          "ram": {
            "type": "integer",
            "description": "Allocated memory in MB."
          },
          "language": {
            "type": "string",
            "description": "Runtime language slug. One of `javascript`, `typescript`, `python`, `java`, `elixir`, `go`, `rust`, `php`, `dotnet`, `static`."
          },
          "domain": {
            "type": [
              "string",
              "null"
            ],
            "description": "Default `<subdomain>.squareweb.app` hostname. Key is omitted for apps without one."
          },
          "custom": {
            "type": [
              "string",
              "null"
            ],
            "description": "Custom domain bound to the app. Key is omitted when not configured."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AppSummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "ram",
          "lang",
          "cluster",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "desc": {
            "type": "string",
            "description": "Optional. Key is omitted when not set."
          },
          "ram": {
            "type": "integer",
            "description": "Allocated memory in MB."
          },
          "lang": {
            "type": "string",
            "description": "Runtime language, the same value as `App.language` (e.g. `javascript`)."
          },
          "domain": {
            "type": [
              "string",
              "null"
            ]
          },
          "custom": {
            "type": [
              "string",
              "null"
            ]
          },
          "cluster": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WorkspaceApp": {
        "type": "object",
        "required": [
          "id",
          "name",
          "desc",
          "ram",
          "lang"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "desc": {
            "type": [
              "string",
              "null"
            ],
            "description": "Free-form description. Present but `null` when unset."
          },
          "ram": {
            "type": "integer",
            "description": "Allocated memory in MB."
          },
          "lang": {
            "type": "string",
            "description": "Runtime language, the same value as `App.language` (e.g. `javascript`)."
          },
          "domain": {
            "type": [
              "string",
              "null"
            ]
          },
          "custom": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Database": {
        "type": "object",
        "required": [
          "id",
          "name",
          "owner",
          "cluster",
          "ram",
          "type",
          "port",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "32-char hex database identifier."
          },
          "name": {
            "type": "string",
            "description": "Display name."
          },
          "owner": {
            "type": "string",
            "description": "User identifier of the database owner."
          },
          "cluster": {
            "type": "string",
            "description": "Cluster identifier the database is hosted on."
          },
          "ram": {
            "type": "integer",
            "description": "Allocated memory in MB."
          },
          "type": {
            "type": "string",
            "enum": [
              "mongo",
              "mysql",
              "redis",
              "postgres"
            ],
            "description": "Database engine slug."
          },
          "port": {
            "type": "integer",
            "description": "TCP port the database listens on."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DatabaseCreated": {
        "type": "object",
        "required": [
          "id",
          "name",
          "memory",
          "cpu",
          "type",
          "password",
          "connection_url",
          "cluster"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "memory": {
            "type": "integer",
            "description": "Allocated memory in MB."
          },
          "cpu": {
            "type": "number",
            "description": "Allocated CPU shares."
          },
          "type": {
            "type": "string",
            "enum": [
              "mongo",
              "mysql",
              "redis",
              "postgres"
            ]
          },
          "password": {
            "type": "string",
            "description": "One-time database password. Shown only at creation; cannot be recovered."
          },
          "certificate": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64-encoded PEM (private key followed by the certificate) for TLS connections. `null` when it could not be produced at creation."
          },
          "connection_url": {
            "type": "string",
            "description": "Ready-to-use connection string with the password embedded."
          },
          "cluster": {
            "type": "string"
          }
        }
      },
      "Plan": {
        "type": "object",
        "required": [
          "name",
          "memory",
          "duration"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Plan slug (e.g. `free`, `hobby-2`, `standard-8`, `pro-16`, `enterprise-64`)."
          },
          "memory": {
            "type": "object",
            "required": [
              "limit",
              "available",
              "used"
            ],
            "description": "Live memory accounting for the user across all applications and databases. All values are in MB.",
            "properties": {
              "limit": {
                "type": "integer",
                "description": "Total memory budget granted by the plan."
              },
              "available": {
                "type": "integer",
                "description": "Unallocated memory (`limit - used`)."
              },
              "used": {
                "type": "integer",
                "description": "Memory currently allocated to applications and databases."
              }
            }
          },
          "duration": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Unix timestamp in milliseconds at which the current plan expires. `null` for plans that never expire (e.g. `free`)."
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "id",
          "name",
          "email",
          "locale",
          "plan",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "User identifier."
          },
          "name": {
            "type": "string",
            "description": "Display name (1-24 chars)."
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "locale": {
            "type": "string",
            "description": "Preferred locale (e.g. `pt-BR`, `en-US`, `es-ES`, `zh-CN`, `ja-JP`, `fr-FR`, `de-DE`, `it-IT`)."
          },
          "plan": {
            "$ref": "#/components/schemas/Plan"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WorkspaceMember": {
        "type": "object",
        "required": [
          "id",
          "name",
          "group",
          "joinedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "User identifier of the member."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display name of the member; null when it cannot be resolved (e.g. a deleted account)."
          },
          "group": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "maintain",
              "manager",
              "view"
            ],
            "description": "Permission tier. `owner` and `admin` have full management; `maintain` adds operational access (commit, app actions, files, DNS, cache); `manager` covers monitoring and lifecycle control; `view` is read-only."
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Server-set timestamp of when the member joined the workspace. Not accepted as input. For the owner, equals the workspace creation time."
          }
        }
      },
      "Workspace": {
        "type": "object",
        "required": [
          "id",
          "name",
          "owner",
          "members",
          "applications",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^([a-f0-9]{40}|[a-f0-9]{12}4[a-f0-9]{3}[89ab][a-f0-9]{3}[a-f0-9]{12})$",
            "description": "Workspace identifier: a UUID v4 with hyphens stripped (32 hex chars). Older workspaces keep a 40-hex id."
          },
          "name": {
            "type": "string",
            "description": "Workspace name (1-32 chars)."
          },
          "owner": {
            "type": "string",
            "description": "User identifier of the workspace owner."
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceMember"
            }
          },
          "applications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceApp"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NetworkAnalyticsBucket": {
        "type": "object",
        "required": [
          "type",
          "visits",
          "requests",
          "bytes",
          "date"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Dimension value for this bucket."
          },
          "visits": {
            "type": "integer",
            "description": "Unique visitor count."
          },
          "requests": {
            "type": "integer",
            "description": "Total request count."
          },
          "bytes": {
            "type": "integer",
            "description": "Response bytes served."
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Start of the 15-minute window."
          }
        }
      },
      "NetworkAnalyticsTimeBucket": {
        "type": "object",
        "required": [
          "visits",
          "requests",
          "bytes",
          "date"
        ],
        "properties": {
          "visits": {
            "type": "integer"
          },
          "requests": {
            "type": "integer"
          },
          "bytes": {
            "type": "integer"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Start of the 15-minute window."
          }
        }
      },
      "NetworkAnalyticsTotalBucket": {
        "type": "object",
        "required": [
          "type",
          "visits",
          "requests",
          "bytes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Dimension value for this bucket."
          },
          "visits": {
            "type": "integer",
            "description": "Unique visitor count."
          },
          "requests": {
            "type": "integer",
            "description": "Total request count."
          },
          "bytes": {
            "type": "integer",
            "description": "Response bytes served."
          }
        }
      },
      "NetworkAnalytics": {
        "type": "object",
        "required": [
          "visits",
          "countries",
          "devices",
          "os",
          "browsers",
          "protocols",
          "methods",
          "paths",
          "referers",
          "providers",
          "ips",
          "status_codes",
          "bots",
          "content_types"
        ],
        "properties": {
          "visits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsTimeBucket"
            }
          },
          "countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsBucket"
            }
          },
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsBucket"
            }
          },
          "os": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsBucket"
            }
          },
          "browsers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsBucket"
            }
          },
          "protocols": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsBucket"
            }
          },
          "methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsBucket"
            }
          },
          "paths": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsBucket"
            }
          },
          "referers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsBucket"
            },
            "description": "Referer breakdown. Empty referer strings are normalized to `type: \"Direct\"`."
          },
          "providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsBucket"
            },
            "description": "ASN breakdown. Square Cloud's own ASN is normalized to `type: \"SQUARE-CLOUD-PLATFORM\"`."
          },
          "ips": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsTotalBucket"
            },
            "description": "Top client IPs by request count over the whole window. IPs originating from Square Cloud's own network are masked (`X.X.XXX.XXX`)."
          },
          "status_codes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsTotalBucket"
            },
            "description": "Edge response status codes over the whole window (all classes, not just errors)."
          },
          "bots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsTotalBucket"
            },
            "description": "Verified-bot categories over the whole window. Traffic without a verified bot category is `type: \"Unverified\"`."
          },
          "content_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAnalyticsTotalBucket"
            },
            "description": "Response content types over the whole window. Unknown content types are `type: \"Unknown\"`."
          }
        }
      },
      "NetworkErrorsTimeBucket": {
        "type": "object",
        "required": [
          "date",
          "buckets",
          "total"
        ],
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "buckets": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Map of HTTP status code (as string) to request count."
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "NetworkErrorsTopPath": {
        "type": "object",
        "required": [
          "path",
          "method",
          "total",
          "by_status"
        ],
        "properties": {
          "path": {
            "type": "string"
          },
          "method": {
            "type": [
              "string",
              "null"
            ]
          },
          "total": {
            "type": "integer"
          },
          "by_status": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Map of HTTP status code (as string) to request count for this (method, path)."
          }
        }
      },
      "NetworkErrorsByMethod": {
        "type": "object",
        "required": [
          "method",
          "total",
          "by_status"
        ],
        "properties": {
          "method": {
            "type": [
              "string",
              "null"
            ]
          },
          "total": {
            "type": "integer"
          },
          "by_status": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Map of HTTP status code (as string) to request count for this HTTP method."
          }
        }
      },
      "NetworkErrors": {
        "type": "object",
        "required": [
          "summary",
          "by_status",
          "timeseries",
          "top_paths",
          "by_method"
        ],
        "properties": {
          "summary": {
            "type": "object",
            "required": [
              "total",
              "by_class"
            ],
            "properties": {
              "total": {
                "type": "integer"
              },
              "by_class": {
                "type": "object",
                "required": [
                  "4xx",
                  "5xx"
                ],
                "properties": {
                  "4xx": {
                    "type": "integer"
                  },
                  "5xx": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "by_status": {
            "type": "array",
            "description": "Flat per-status breakdown. Note: this is an ARRAY of `{ status, requests }`, unlike the nested `by_status` maps inside `top_paths` and `by_method`.",
            "items": {
              "type": "object",
              "required": [
                "status",
                "requests"
              ],
              "properties": {
                "status": {
                  "type": "integer"
                },
                "requests": {
                  "type": "integer"
                }
              }
            }
          },
          "timeseries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkErrorsTimeBucket"
            }
          },
          "top_paths": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkErrorsTopPath"
            }
          },
          "by_method": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkErrorsByMethod"
            }
          }
        }
      },
      "FileEntry": {
        "type": "object",
        "required": [
          "name",
          "type",
          "size",
          "lastModified"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "File or directory name (no path component)."
          },
          "type": {
            "type": "string",
            "enum": [
              "file",
              "directory"
            ]
          },
          "size": {
            "type": "integer",
            "description": "Size in bytes. `0` for directories."
          },
          "lastModified": {
            "type": [
              "number",
              "null"
            ],
            "description": "Last-modified time as a Unix timestamp in milliseconds; may carry a fractional part. `null` when the entry could not be read."
          }
        }
      },
      "DNSRecord": {
        "type": "object",
        "required": [
          "type",
          "name",
          "value",
          "status"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "txt",
              "cname"
            ],
            "description": "Record type. `txt` covers both ownership and SSL validation; `cname` is the traffic record."
          },
          "name": {
            "type": "string",
            "description": "Record name to set at the DNS provider."
          },
          "value": {
            "type": "string",
            "description": "Record value. For `cname`, this is always `cname.squareweb.app`."
          },
          "status": {
            "type": "string",
            "description": "Upstream validation state (e.g. `pending`, `pending_validation`, `active`). Passed through from the edge provider."
          }
        }
      },
      "DeployEvent": {
        "type": "object",
        "required": [
          "id",
          "state",
          "date",
          "source"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Deploy identifier: the commit SHA (40 hex)."
          },
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "clone",
              "commit",
              "restarting",
              "success",
              "error"
            ],
            "description": "Lifecycle stage. `pending` queued, `clone` Git checkout, `commit` file diff snapshot, `restarting` container restart, `success` finished, `error` failed (see `code` / `message`)."
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "source": {
            "type": "string",
            "enum": [
              "git"
            ],
            "description": "Always `git`: only Git deploys (webhook and GitHub App pushes) are recorded."
          },
          "branch": {
            "type": "string",
            "description": "Present on `state: \"clone\"` events."
          },
          "code": {
            "type": "string",
            "description": "Present on `state: \"error\"` events: why the deploy failed (e.g. `AUTHENTICATION_REQUIRED`, `INVALID_BRANCH`, `CLONE_FAILED`)."
          },
          "message": {
            "type": "string",
            "description": "Present on some `state: \"error\"` events: the failure details."
          },
          "files": {
            "type": "object",
            "description": "Present on `state: \"commit\"` events. Lists the files changed in this deploy.",
            "required": [
              "added",
              "removed",
              "modified"
            ],
            "properties": {
              "added": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "removed": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "modified": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DatabaseSummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "ram",
          "type",
          "cluster",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "ram": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "cluster": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "responses": {
      "InternalServerError": {
        "description": "An unexpected error occurred while processing the request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "example": {
              "status": "error",
              "code": "INTERNAL_SERVER_ERROR"
            }
          }
        }
      },
      "AccessDenied": {
        "description": "The Authorization header is missing, malformed, or the credentials are not valid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "example": {
              "status": "error",
              "code": "ACCESS_DENIED"
            }
          }
        }
      },
      "SessionRequired": {
        "description": "This endpoint requires a session token (JWT). API keys are not accepted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "example": {
              "status": "error",
              "code": "ACCESS_DENIED",
              "message": "You need to use a session token to access this route."
            }
          }
        }
      },
      "RateLimited": {
        "description": "The authenticated user or API key exceeded the global request budget.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "example": {
              "status": "error",
              "code": "RATE_LIMITED"
            }
          }
        }
      },
      "RateLimitedSpecific": {
        "description": "`KEEP_CALM` when the caller hit this endpoint's own cooldown, `RATE_LIMITED` when it exceeded the global request budget.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "examples": {
              "endpoint": {
                "value": {
                  "status": "error",
                  "code": "KEEP_CALM"
                }
              },
              "global": {
                "value": {
                  "status": "error",
                  "code": "RATE_LIMITED"
                }
              }
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The request body is larger than this endpoint accepts.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "example": {
              "status": "error",
              "code": "PAYLOAD_TOO_LARGE"
            }
          }
        }
      },
      "InvalidJsonBody": {
        "description": "The request body could not be parsed as JSON.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "example": {
              "status": "error",
              "code": "INVALID_JSON_BODY"
            }
          }
        }
      },
      "AppNotFound": {
        "description": "The target application could not be found, or the caller is not a member of the workspace.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "example": {
              "status": "error",
              "code": "APP_NOT_FOUND"
            }
          }
        }
      },
      "Forbidden": {
        "description": "`MISSING_SCOPE` when the API key lacks this operation's `x-scope`, `RESOURCE_NOT_ALLOWED` when the key is restricted to resources that do not cover this request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "examples": {
              "missing_scope": {
                "value": {
                  "status": "error",
                  "code": "MISSING_SCOPE",
                  "message": "This API key does not have the scope required by this route."
                }
              },
              "resource_not_allowed": {
                "value": {
                  "status": "error",
                  "code": "RESOURCE_NOT_ALLOWED",
                  "message": "This API key is restricted to a set of resources that does not cover this request."
                }
              }
            }
          }
        }
      },
      "ForbiddenWorkspace": {
        "description": "`PERMISSION_DENIED` when the workspace member's role does not allow this operation; `MISSING_SCOPE` / `RESOURCE_NOT_ALLOWED` when the API key lacks the scope or does not cover the resource.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "examples": {
              "permission_denied": {
                "value": {
                  "status": "error",
                  "code": "PERMISSION_DENIED"
                }
              },
              "missing_scope": {
                "value": {
                  "status": "error",
                  "code": "MISSING_SCOPE",
                  "message": "This API key does not have the scope required by this route."
                }
              },
              "resource_not_allowed": {
                "value": {
                  "status": "error",
                  "code": "RESOURCE_NOT_ALLOWED",
                  "message": "This API key is restricted to a set of resources that does not cover this request."
                }
              }
            }
          }
        }
      },
      "RateLimitedEndpoint": {
        "description": "The caller hit this endpoint's own cooldown.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "example": {
              "status": "error",
              "code": "KEEP_CALM"
            }
          }
        }
      },
      "DatabaseUnavailable": {
        "description": "The platform database is temporarily unavailable. Retry in a few seconds.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            },
            "example": {
              "status": "error",
              "code": "DATABASE_UNAVAILABLE",
              "message": "The database is temporarily unavailable. Please retry in a few seconds."
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "User API token or JWT session token. Length 64-1024 chars. A key restricted to scopes reaches only the operations whose `x-scope` it holds; an operation without `x-scope` needs a full-access key."
      }
    }
  },
  "paths": {
    "/v2/ai/chat/completions": {
      "post": {
        "operationId": "createAiChatCompletion",
        "tags": [
          "AI"
        ],
        "summary": "Create a chat completion",
        "description": "OpenAI-compatible chat completions endpoint. Point any OpenAI SDK at baseURL `https://api.squarecloud.app/v2/ai` using your account API key, and call `chat.completions.create`.\n\nAvailable on Standard, Pro and Enterprise plans. Each plan bounds requests per day, concurrency, pacing between requests and context/output size (Standard: 1,000 requests/day, 16k in / 4k out, 1 concurrent, 5s between requests. Pro: 5,000 requests/day, 24k / 6k, 1 concurrent, 2s. Enterprise: unlimited requests, 32k / 8k, 2 concurrent, no delay). Token usage is billed against your plan's daily AI budget, and each plan also has a daily fair-use allowance on the gateway sized for moderate use (Enterprise gets 5x the base allowance; both reset 00:00 UTC).\n\nThe model has a built-in `web_search` it can trigger on its own for current or external information; searches run server-side and only the final answer is returned. You may also declare your own `tools` (OpenAI function-calling format): the model's calls to them come back as a standard `finish_reason: \"tool_calls\"` response, and you send the results back as `role: \"tool\"` messages.\n\nStreaming is not supported yet. Error responses use the OpenAI error shape (`{ error: { message, type, code } }`).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Ignored; the response always reports `cubic`."
                  },
                  "messages": {
                    "type": "array",
                    "description": "Chat history: objects with `role` (system | user | assistant | tool) and string `content`. Assistant messages may carry `tool_calls`; tool messages need `tool_call_id`.",
                    "items": {
                      "type": "object",
                      "required": [
                        "role"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant",
                            "tool"
                          ]
                        },
                        "content": {
                          "type": "string"
                        },
                        "tool_call_id": {
                          "type": "string",
                          "description": "Required on role \"tool\" messages."
                        },
                        "tool_calls": {
                          "type": "array",
                          "description": "On assistant messages: the tool calls being answered.",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  },
                  "tools": {
                    "type": "array",
                    "description": "Your own tools, in the OpenAI function-calling format: { type: \"function\", function: { name, description, parameters } }.",
                    "items": {
                      "type": "object"
                    }
                  },
                  "tool_choice": {
                    "oneOf": [
                      {
                        "type": "string",
                        "enum": [
                          "auto",
                          "none",
                          "required"
                        ]
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "function"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "function"
                          },
                          "function": {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    ],
                    "description": "\"auto\" (default), \"none\", \"required\" or { type: \"function\", function: { name } }."
                  },
                  "max_tokens": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Completion token cap; silently clamped to your plan's output ceiling."
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Must be false/omitted (streaming not supported yet)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The completion, in the OpenAI chat.completion shape. When the model calls one of YOUR tools, `finish_reason` is `tool_calls` and the message carries `tool_calls` instead of text.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string"
                              },
                              "content": {
                                "type": "string"
                              }
                            }
                          },
                          "finish_reason": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "id": "chatcmpl-a1b2c3d4e5f60718293a4b5c",
                  "object": "chat.completion",
                  "created": 1767225600,
                  "model": "cubic",
                  "choices": [
                    {
                      "index": 0,
                      "message": {
                        "role": "assistant",
                        "content": "Hello! How can I help you today?"
                      },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 58,
                    "completion_tokens": 9,
                    "total_tokens": 67
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed body (`invalid_json_body`, `invalid_messages`, `invalid_tools`, `invalid_tool_choice`), unsupported feature (`stream_not_supported`), or the prompt exceeds your plan's context ceiling.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                },
                "example": {
                  "error": {
                    "message": "Streaming is not supported yet on this endpoint. Send stream: false (or omit it).",
                    "type": "invalid_request_error",
                    "code": "stream_not_supported"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API key was not recognized (`access_denied`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                },
                "example": {
                  "error": {
                    "message": "This credential was not recognized. An API key stops working the moment it is revoked, regenerated or expires — check the one in your account settings. A session token may simply have expired, in which case sign in again.",
                    "type": "authentication_error",
                    "code": "access_denied"
                  }
                }
              }
            }
          },
          "403": {
            "description": "The account's plan does not include the public AI API (Standard and up, `upgrade_required`), the API key lacks the `ai:chat` scope (`missing_scope`), or the key is restricted to resources (`resource_not_allowed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                },
                "example": {
                  "error": {
                    "message": "The Square Cloud AI API is available on Standard, Pro and Enterprise plans. Upgrade at https://squarecloud.app/pricing.",
                    "type": "invalid_request_error",
                    "code": "upgrade_required"
                  }
                }
              }
            }
          },
          "413": {
            "description": "The request body is larger than this endpoint accepts (`payload_too_large`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                },
                "example": {
                  "error": {
                    "message": "The request body is too large.",
                    "type": "invalid_request_error",
                    "code": "payload_too_large"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Plan pacing or fair use: a request is already in flight (concurrent_limit_reached), the per-request delay has not elapsed (rate_limit_exceeded), the plan's daily request ceiling is reached (daily_request_limit_reached, resets 00:00 UTC), the plan's daily fair-use allowance on the gateway is reached (daily_spend_limit_reached, resets 00:00 UTC), or the daily AI token budget is spent (daily_limit_reached, resets 00:00 UTC). `rate_limited` is the account's global API budget.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                },
                "example": {
                  "error": {
                    "message": "You are sending requests too quickly for your plan. Wait for the per-request delay and try again.",
                    "type": "rate_limit_error",
                    "code": "rate_limit_exceeded"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure (`internal_server_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                },
                "example": {
                  "error": {
                    "message": "Internal server error.",
                    "type": "server_error",
                    "code": "internal_server_error"
                  }
                }
              }
            }
          },
          "503": {
            "description": "All model capacity is busy; retry shortly (`server_overloaded`). `daily_capacity_reached` means the gateway's shared daily capacity is used up; it resets at 00:00 UTC. `database_unavailable`: the platform database is briefly unavailable, retry in a few seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                },
                "example": {
                  "error": {
                    "message": "The model is currently overloaded. Please retry shortly.",
                    "type": "server_error",
                    "code": "server_overloaded"
                  }
                }
              }
            }
          }
        },
        "x-scope": "ai:chat"
      }
    },
    "/v2/apps": {
      "post": {
        "operationId": "postApps",
        "tags": [
          "Lifecycle",
          "Deployments"
        ],
        "summary": "Create a new application from an uploaded zip",
        "description": "Accepts a `multipart/form-data` upload containing a single zip archive and starts the application. The response payload depends on the application language.\n\nThe caller must have at least 256 MB of available memory on their plan. Rate limited to 1 upload every 3 seconds per user.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Zip archive containing the application source."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload accepted and the application provisioned. `description` and `domain` are present only when set in `squarecloud.config`; `language` is the detected runtime with version; `ram`/`cpu` are the allocated resources.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "response"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "response": {
                      "type": "object",
                      "required": [
                        "id",
                        "name",
                        "ram",
                        "cpu",
                        "language"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "32-char hex application identifier."
                        },
                        "name": {
                          "type": "string",
                          "description": "Display name (from `DISPLAY_NAME` in `squarecloud.config`)."
                        },
                        "description": {
                          "type": "string",
                          "description": "Optional description (from `DESCRIPTION` in `squarecloud.config`). Omitted when unset."
                        },
                        "domain": {
                          "type": "string",
                          "description": "Full `<subdomain>.squareweb.app` host (from `SUBDOMAIN` in `squarecloud.config`). Omitted for non-web apps."
                        },
                        "cluster": {
                          "type": "string",
                          "description": "Cluster the application was deployed to."
                        },
                        "ram": {
                          "type": "integer",
                          "description": "Allocated memory in MB."
                        },
                        "cpu": {
                          "type": "number",
                          "description": "Allocated CPU shares."
                        },
                        "language": {
                          "type": "object",
                          "required": [
                            "name",
                            "version"
                          ],
                          "description": "Detected runtime.",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Runtime identifier. One of `javascript`, `typescript`, `python`, `java`, `elixir`, `go`, `rust`, `ruby`, `php`, `dotnet`, `static`."
                            },
                            "version": {
                              "type": "string",
                              "description": "`VERSION` from `squarecloud.config`, lowercased: `recommended` or a pinned version (e.g. `22`, `3.12`)."
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "response": {
                    "id": "a1b2c3d4e5f64a7b8c9d0e1f2a3b4c5d",
                    "name": "my-app",
                    "description": "My deployed app",
                    "domain": "my-app.squareweb.app",
                    "ram": 512,
                    "cpu": 1,
                    "language": {
                      "name": "javascript",
                      "version": "recommended"
                    },
                    "cluster": "example-cluster"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The upload was rejected by validation or storage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "no_file": {
                    "value": {
                      "status": "error",
                      "code": "INVALID_FILE"
                    }
                  },
                  "bad_filename": {
                    "value": {
                      "status": "error",
                      "code": "INVALID_FILENAME"
                    }
                  },
                  "few_memory": {
                    "value": {
                      "status": "error",
                      "code": "INSUFFICIENT_MEMORY"
                    }
                  },
                  "upload_aborted": {
                    "value": {
                      "status": "error",
                      "code": "UPLOAD_ABORTED"
                    }
                  },
                  "upload_failed": {
                    "value": {
                      "status": "error",
                      "code": "STORAGE_UPLOAD_FAILED",
                      "message": "Upload failed due to a third-party error. Please try again later."
                    }
                  },
                  "cluster_selection": {
                    "value": {
                      "status": "error",
                      "code": "CLUSTER_SELECTION_FAILED"
                    }
                  },
                  "empty_response": {
                    "value": {
                      "status": "error",
                      "code": "EMPTY_RESPONSE"
                    }
                  },
                  "generic": {
                    "value": {
                      "status": "error",
                      "code": "UPLOAD_FAILED"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "description": "Upload exceeded the 100 MB per-file limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "example": {
                  "status": "error",
                  "code": "FILE_TOO_LARGE"
                }
              }
            }
          },
          "415": {
            "description": "The request does not use `multipart/form-data`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "example": {
                  "status": "error",
                  "code": "INVALID_CONTENT_TYPE"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedSpecific"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "description": "Application provisioning is temporarily unavailable due to maintenance. `DATABASE_UNAVAILABLE` is also possible while the platform database is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "example": {
                  "status": "error",
                  "code": "CLUSTER_MAINTENANCE_TRY_LATER"
                }
              }
            }
          }
        },
        "x-scope": "apps:write"
      }
    },
    "/v2/apps/domains": {
      "get": {
        "operationId": "getAppsDomains",
        "tags": [
          "Network"
        ],
        "summary": "List every domain configured across the account's applications",
        "description": "Returns a flat list of every hostname configured across the applications owned by the caller: the default `<subdomain>.squareweb.app` hostname (`type: \"subdomain\"`) and any attached custom domain (`type: \"custom\"`). Custom domains are listed first, followed by the default subdomains. Applications without a web domain are omitted.\n\nServed from the cached project list, so it does not count against the per-application network rate limits. Rate limited to 20 requests per 60s per user.",
        "responses": {
          "200": {
            "description": "Flat list of configured domains. Empty array when the account has no web applications.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "response"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "response": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "app_id",
                          "hostname",
                          "type"
                        ],
                        "properties": {
                          "app_id": {
                            "type": "string",
                            "description": "32-char hex identifier of the application the domain belongs to."
                          },
                          "hostname": {
                            "type": "string",
                            "description": "The fully qualified hostname."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "subdomain",
                              "custom"
                            ],
                            "description": "`subdomain` for the default `*.squareweb.app` hostname, `custom` for an attached custom domain."
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "response": [
                    {
                      "app_id": "a1b2c3d4e5f64a7b8c9d0e1f2a3b4c5d",
                      "hostname": "example.com",
                      "type": "custom"
                    },
                    {
                      "app_id": "a1b2c3d4e5f64a7b8c9d0e1f2a3b4c5d",
                      "hostname": "my-app.squareweb.app",
                      "type": "subdomain"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedSpecific"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/DatabaseUnavailable"
          }
        },
        "x-scope": "apps:read"
      }
    },
    "/v2/apps/load-balancers": {
      "get": {
        "operationId": "getAppsLoadBalancers",
        "tags": [
          "Network"
        ],
        "summary": "List the account's custom-domain load balancers",
        "description": "Groups the caller's applications by attached custom domain. Every custom domain appears as one group with the applications serving it; a group with two or more applications is an active load balancer (traffic is balanced across them at the edge, with automatic failover when an application is offline).\n\n`limit` is how many applications may share one domain on the caller's plan: 2 on Standard, 5 on Pro, 10 on Enterprise.\n\nServed from the cached project list. Rate limited to 20 requests per 60s per user.",
        "responses": {
          "200": {
            "description": "The plan's per-domain `limit` and the custom domains grouped by hostname; `balancers` is empty when no application has a custom domain.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "response"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "response": {
                      "type": "object",
                      "required": [
                        "limit",
                        "balancers"
                      ],
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "description": "Maximum applications allowed on one domain for the caller's plan."
                        },
                        "balancers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "hostname",
                              "apps"
                            ],
                            "properties": {
                              "hostname": {
                                "type": "string",
                                "description": "The custom domain."
                              },
                              "apps": {
                                "type": "array",
                                "description": "Applications serving this domain.",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "id",
                                    "name"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "32-char hex identifier of the application."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Application name."
                                    },
                                    "cluster": {
                                      "type": "string",
                                      "description": "Cluster currently hosting the application."
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "response": {
                    "limit": 2,
                    "balancers": [
                      {
                        "hostname": "example.com",
                        "apps": [
                          {
                            "id": "a1b2c3d4e5f64a7b8c9d0e1f2a3b4c5d",
                            "name": "web-1",
                            "cluster": "example-cluster"
                          },
                          {
                            "id": "f6e5d4c3b2a14f0e9d8c7b6a5f4e3d2c",
                            "name": "web-2",
                            "cluster": "example-cluster-2"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedSpecific"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/DatabaseUnavailable"
          }
        },
        "x-scope": "apps:read"
      }
    },
    "/v2/apps/status": {
      "get": {
        "operationId": "getAppsStatus",
        "tags": [
          "Lifecycle"
        ],
        "summary": "List runtime stats for every application",
        "description": "Returns live runtime stats (CPU, RAM, network, uptime) for every application owned by the caller, or scoped to the workspace passed via `workspaceId`.\n\nRate limited to 15 requests per 60s per user.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "description": "Limit the listing to applications shared in this workspace.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{12}4[a-f0-9]{3}[89ab][a-f0-9]{3}[a-f0-9]{12}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compact runtime stats for every application in the requested scope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "response"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RuntimeStatsListItem"
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "response": [
                    {
                      "id": "a1b2c3d4e5f64a7b8c9d0e1f2a3b4c5d",
                      "running": true,
                      "cpu": "0.50%",
                      "ram": "120.00MB"
                    },
                    {
                      "id": "def456abc7890fedcba098765",
                      "running": false
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Application or workspace not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "app": {
                    "value": {
                      "status": "error",
                      "code": "APP_NOT_FOUND"
                    }
                  },
                  "workspace": {
                    "value": {
                      "status": "error",
                      "code": "WORKSPACE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedSpecific"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/DatabaseUnavailable"
          }
        },
        "x-scope": "apps:read"
      }
    },
    "/v2/apps/{appId}": {
      "delete": {
        "operationId": "deleteAppByAppId",
        "tags": [
          "Lifecycle"
        ],
        "summary": "Delete an application",
        "description": "Removes the application, releases any custom domain, and invalidates the caller's project and workspace caches. The operation is rejected while a snapshot restore is in progress.\n\nRate limited to 1 request every 3 seconds per user.",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "Application identifier. Optionally suffixed with -<workspaceId> to act on a workspace-shared application.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}(?:-[a-f0-9-]+)?$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    }
                  },
                  "required": [
                    "status"
                  ]
                },
                "example": {
                  "status": "success"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "403": {
            "description": "A snapshot restore is currently running for this application. An API key can also get `MISSING_SCOPE` (lacks this operation's scope) or `RESOURCE_NOT_ALLOWED` (restricted to other resources).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "example": {
                  "status": "error",
                  "code": "RESTORE_IN_PROGRESS",
                  "message": "A restore operation is currently in progress for this app."
                }
              }
            }
          },
          "404": {
            "description": "Application not found or the delete operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "status": "error",
                      "code": "APP_NOT_FOUND"
                    }
                  },
                  "cluster_error": {
                    "value": {
                      "status": "error",
                      "code": "DELETE_FAILED"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedSpecific"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/DatabaseUnavailable"
          }
        },
        "x-scope": "apps:write"
      },
      "get": {
        "operationId": "getAppByAppId",
        "tags": [
          "Lifecycle"
        ],
        "summary": "Get application information",
        "description": "Returns the application's identity, plan, region, language, and DNS configuration. The response is scoped to the caller; access to workspace-shared applications is granted automatically when the caller is a member of the owning workspace.",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "Application identifier. Optionally suffixed with -<workspaceId> to act on a workspace-shared application.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}(?:-[a-f0-9-]+)?$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "response"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "response": {
                      "$ref": "#/components/schemas/App"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "response": {
                    "id": "a1b2c3d4e5f64a7b8c9d0e1f2a3b4c5d",
                    "name": "my-app",
                    "owner": "1234567890",
                    "cluster": "example-cluster",
                    "ram": 512,
                    "language": "javascript",
                    "domain": "my-app.squareweb.app",
                    "custom": null,
                    "created_at": "2024-05-01T12:00:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/AppNotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/DatabaseUnavailable"
          }
        },
        "x-scope": "apps:read"
      }
    },
    "/v2/apps/{appId}/commit": {
      "post": {
        "operationId": "postAppCommitByAppId",
        "tags": [
          "Deployments",
          "Lifecycle"
        ],
        "summary": "Upload a file or zip to an application as a commit",
        "description": "Streams a `multipart/form-data` file to the application. A `.zip` is unpacked at the destination; other files are placed at `path/name`. The optional `path` query parameter controls the destination directory inside the application.\n\nFile names that look like path traversal, control characters, or `.`/`..` are rejected. Content-Type is derived server-side from the extension.\n\nRequires the workspace Maintainer or Administrator role (or ownership) when called against a workspace-shared application. Rate limits: 1 commit per 2s per user (global) and 1 commit per 5s per (user, application).",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "Application identifier. Optionally suffixed with -<workspaceId> to act on a workspace-shared application.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}(?:-[a-f0-9-]+)?$"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Destination directory inside the application (no traversal, no shell metacharacters).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit accepted and applied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    }
                  },
                  "required": [
                    "status"
                  ]
                },
                "example": {
                  "status": "success"
                }
              }
            }
          },
          "400": {
            "description": "The upload was rejected by validation or storage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "no_file": {
                    "value": {
                      "status": "error",
                      "code": "INVALID_FILE"
                    }
                  },
                  "bad_filename": {
                    "value": {
                      "status": "error",
                      "code": "INVALID_FILENAME"
                    }
                  },
                  "invalid_path": {
                    "value": {
                      "status": "error",
                      "code": "INVALID_PATH"
                    }
                  },
                  "upload_aborted": {
                    "value": {
                      "status": "error",
                      "code": "UPLOAD_ABORTED"
                    }
                  },
                  "upload_failed": {
                    "value": {
                      "status": "error",
                      "code": "STORAGE_UPLOAD_FAILED",
                      "message": "Upload failed due to a third-party error. Please try again later."
                    }
                  },
                  "generic": {
                    "value": {
                      "status": "error",
                      "code": "COMMIT_FAILED"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenWorkspace"
          },
          "404": {
            "$ref": "#/components/responses/AppNotFound"
          },
          "413": {
            "description": "Upload exceeded the 100 MB per-file limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "example": {
                  "status": "error",
                  "code": "FILE_TOO_LARGE"
                }
              }
            }
          },
          "415": {
            "description": "Request is not `multipart/form-data`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "example": {
                  "status": "error",
                  "code": "INVALID_CONTENT_TYPE"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedSpecific"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/DatabaseUnavailable"
          }
        },
        "x-scope": "apps:deploy",
        "x-workspace-permission": "commit"
      }
    },
    "/v2/apps/{appId}/deploy/github-app": {
      "delete": {
        "operationId": "deleteAppDeployGithubAppByAppId",
        "tags": [
          "Deployments"
        ],
        "summary": "Unlink the GitHub App repository from an application",
        "description": "Removes the GitHub App repository linkage created via `POST /v2/apps/:appId/deploy/github-app`. Returns 400 if no GitHub App link is configured.\n\nRate limited to 3 calls per 60s per user.",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "Application identifier. Optionally suffixed with -<workspaceId> to act on a workspace-shared application.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}(?:-[a-f0-9-]+)?$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub App linkage removed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "success"
                    }
                  },
                  "required": [
                    "status"
                  ]
                },
                "example": {
                  "status": "success"
                }
              }
            }
          },
          "400": {
            "description": "The application has no GitHub App repository configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "example": {
                  "status": "error",
                  "code": "GIT_NOT_CONFIGURED"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The application does not exist or is not owned by the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "example": {
                  "status": "error",
                  "code": "APP_NOT_FOUND"
                }
              }
            }
          },
          "429": {
[...]
