name: "Publish Package"
on:
  push:
    tags:
      - "v*"
jobs:
  publish:
    name: "Publish to PyPI"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Pipx & Poetry
        run: |
          python3 -m pip install --upgrade pip
          pip install pipx
          pipx install poetry

      - name: Publish Package
        env:
          PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          poetry config pypi-token.pypi $PYPI_API_TOKEN
          poetry publish --build
